dist: trusty
language: cpp
addons:
  apt:
    packages:
      - libsfml-dev
compiler:
  - clang
  - gcc
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-add-repository "deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-4.0 main"
  - sudo apt-get update -qq
install:
  - sudo apt-get install --allow-unauthenticated -qq g++-6 clang++-4.0
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
script:
  - cmake .
  - make
